---
layout: base
---
<h4>Just show me the David's</h4>
    
<ul>
{% for david in davids %}
<li><a href="/davids/{{david.name | slug}}">{{david.name}}</a> - b.{{david.dob}} - favourite colour = {{david.favourite_colour}}</li>
{% endfor %}
</ul>